h1 {
    font-family: "Verdana";
    font-weight: bold;
    font-size: 35px;
}
.headfont {
    font-family: "Verdana";
    font-size: 45px;
    text-align: center;
}
.navfont {
    font-family: "Verdana";
    color: white;
    font-size: 25px;
}
.cfont{
    font-family: "Verdana";
    color: black;
    font-size: 13px;
}
article {
    font-family: "Verdana";
    color: black;
    font-size: 25px;
    text-align: justify;
}
aside {
    width: 23%;
    float: right;
    background-color: #CAE7E3;
    color: white;
    height: 100px;
    border-radius: 10px;
    padding: 25px;
    padding-top: 40px;
    margin: 30px;
    margin-left: 60px;
}
div {
    border-radius: 15px;
    margin:50px;
    padding-left:155px;
    padding-top:30px;
    padding-right:30px;
    padding-bottom: 45px;
}
td{
    align:center;
}